<!DOCTYPE html>
<html class='no-js' dir='ltr' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
<head>
  <%- include("./includes/meta.ejs") %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/paper.min.css">
</head>
<script src="/js/main.js"></script>
<body>
  <%- include("./includes/navbar.ejs") %>
  <div class="clear"></div>
  <div class="wrapper">
    <div class="main-wrapper">
      <div class="content">
        <%- command.map(o => `${o.desc}`).join('<br>') %>
      </div>
    </div>
    
    <div class="clear"></div>
    <%- include("./includes/footer.ejs")%>
    
  </div>
</body>
</html>