<footer class="footer paper">
  <div class="row flex-center">
    <p>copyright <%= new Date().getFullYear() %> | <span><%=name.charAt(0).toUpperCase() + name.slice(1)%> <span class="badge secondary">BOT</span><span></p>
  </div>
</footer>