  <include expiration="7d" path="*.css"/>
  <include expiration="7d" path="*.js"/>
  <include expiration="3d" path="*.gif"/>
  <include expiration="3d" path="*.jpeg"/>
  <include expiration="3d" path="*.jpg"/>
  <include expiration="3d" path="*.png"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link href="/ico/favicon.ico" rel="icon" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
  <link rel="manifest" href="/ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <% if (pageTitle === "HOME" ) {%>
    <title><%= name.toUpperCase() %></title>
    <meta content="A powerful multi-purpose discord bot with 9 commands category like level, auto mod, greeting system." name="description"/>
  <% } else { %>
    <title><%= pageTitle %></title>
    <meta content="<%= pageTitle+ " Page" %>" name="description">
  <% } %>
  <meta name="keywords" content="BOT, DISCORDBOT, AI BOT DISCORD, DISCORD BOT, FREE DISCORD BOT">
  <meta name="yandex-verification" content="c7197add6bb5f8c6"/>
  <meta content="4se5xVgKvBHWSjY2eBcCWNRD6zrq5NuMykymgZCzQjc" name="google-site-verification"/>