<nav class="border">
  <div class="nav-brand">
    <h4><a href="/"><%= name.toUpperCase() %></a>  <span class="badge secondary">BOT</span></h4>
  </div>
  <div class="collapsible">
    <input id="collapsible2" type="checkbox" name="collapsible2">
    <label for="collapsible2">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        <li id="home"><a href="/">Home</a></li>
        <li><a href="javascript:void(0)" class="invite">Invite</a></li>
        <li><a href="javascript:void(0)" class="support">Support</a></li>
        <li id="command"><a href="/command">Command</a></li>
      </ul>
    </div>
  </div>
</nav>